.hirring {
    &__nav {
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px;
            border: 1px solid $sub-border-color;
            border-radius: $border-radius;

        }
        &__item {
            width: 100%;
            margin-bottom: 5px;
            overflow: none;
            &:last-child {
                margin: 0;
            }
            .nav-link {
                border: none;
                width: inherit;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                text-decoration: none;
                color: $text-color;
                margin: 0;
                transition: $transition-time;
                border-radius: $border-radius;

                &.active, &:hover {
                    background-color: $primary-color;
                    transform: translateX(-5px);
                    h5 {
                        color: $white-color;
                    }
                }
               h5 {
                font-family: $main-font;
                font-size: 1.8rem;
                font-weight: 600;
                padding: 0 23px;
                text-transform: uppercase;
               }
               i {
                font-size: 1.8rem;
                color: $white-color;
               }
            }
        }
    }
}
