.authentic {
    margin-bottom: 65px;
    &__container {
        width: 100%;
        max-width: 800px;
        background-color: $sub-background-color;
        margin: auto;
        padding: 70px 30px 30px;
    }

    &__title {
        text-align: center;
        margin-bottom: 30px;
        h2 {
            font-size: 2.8rem;
            font-family: $main-font;
            color: $text-color;
            margin: 0;
            text-transform: uppercase;
        }
    }

    .form__group {
        border: none;
        padding: 10px 18px;
        font-size: 1.5rem;
        font-family: $sub-font;
        color: $text-color;
        width: 100%;
        border-radius: 5px;
        outline: none;
        flex: 1;
        max-width: 400px;
        margin: auto;
        text-align: center;
    }



}
