.product {
    &__wraps {
    }
    &__container {
    }
    &__details {
        &__layout {

        }
        &__imgae {
           
        }
        &__slider {
            .slider__nav {
                &:last-child {
                    .slick-slide {
                        max-width: 100px;
                        margin-right: 5px;
                    }
                    .slick-track {
                        width: 100%!important;
                    }
                }
                &__main {
                    background-color: $primary-color;
                    padding: 10px;
                    border-radius: $border-radius;
                    margin-bottom: 15px;
                    img {
                        border-radius: $border-radius;
                    }
                }
                &__sub {
                    background-color: $sub-background-color;
                    padding: 15px;
                    border-radius: $border-radius;
                    margin-bottom: 15px;
                    // max-width: 100px ;
                    height: 100px;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }


            
        }
        &__name {
            padding-bottom: 15px;
            border-bottom: 1px solid $sub-border-color;
            margin-bottom: 15px;
            h3 {
                font-family: $main-font;
                font-size: 2.5rem;
                color: $primary-color;
            }
        }
        &__info {
            border-radius: $border-radius;
            background-color: $sub-primary-color;
            padding: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 30px;
            &--flex-col {
                flex-direction: column;
                .product__info__title {
                    margin-bottom: 30px;
                }
                .product__info__content {
                    height: 400px;
                    transition: $transition-time;
                    &.full {
                        height: unset;
                    }
                }
            }
            .product__info {
                font-family: $sub-font;
                width: 49%;
                p {
                    font-size: 1.6rem;
                }
                &__title {
                    font-size: 1.8rem;
                    font-weight: 800;
                }
                &__content {
                    overflow: hidden;
                    font-size: 1.9rem;
                    // position: relative;
                }
                &__button {
                    border-radius: $border-radius;
                    opacity: 0.6;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 40px;
                    transition: $transition-time;

                    &:hover {
                        background: linear-gradient(#fff, $primary-color);
                        cursor: pointer;

                    }
                    p {
                        font-size: 1.8rem;
                        font-family: $sub-font;
                        
                    }
                }
            }
        }
        &__related {
            .slick-track {
                // width: 100% !important;
            }
        }
        &__content {

        }
        &__price {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid $sub-border-color;
            h3 {
                font-size: 2.5rem;
                display: flex;

                p {
                    margin-left: 15px;
                    color: $primary-color;
                    font-weight: 800;
                }
            }
        }
        &__button {
            .product__button__group {
                margin-bottom: 15px;
                display: flex;
                .btn:first-child {
                    flex: 1;
                    margin-right: 15px;
                }
            }
        }
    }
    &__list {
        // transition: $transition-time;
    }
    &__control {
        padding-bottom: 65px;
        border-bottom: 1px solid $sub-border-color;
        margin-bottom: 30px;
        &__wraps {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__filter {
            .control__filter {
                i {
                    margin-right: 10px;
                }
            }
        }
        &__sort {
            display: flex;
            align-items: center;
            .sort__layout {
                display: flex;
                &:hover {
                    ul {
                        animation: moveToLeft 1s forwards;
                    }
                    @keyframes moveToLeft {
                        0% {
                            transform: translateX(100px);
                            opacity: 0;
                            visibility: hidden;
                        }
                        50% {
                            transform: translateX(50px);
                            opacity: 0;
                            visibility: hidden;
                        }
                        100% {
                            transform: translateX(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .sort__by {
                display: block;
                padding-bottom: 5px;
                font-size: 1.4rem;
                font-family: $sub-font;
                font-weight: 600;
                color: $primary-color;
                cursor: pointer;

                select {
                    margin-left: 15px;
                    border: none;
                    option {
                        &:first-child {
                            text-align: center;
                        }
                    }
                }
            }
            ul {
                display: flex;
                transform: translateX(100px);
                opacity: 0;
                transition: $transition-time;
                visibility: hidden;
                li {
                    margin-right: 10px;
                }
            }
        }
    }
    &__filter {
        &__group {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $sub-border-color;
            &:last-child {
                border: none;
            }
            .group__title {
                padding: 6px 14px 6px;
                border-left: 2px solid $primary-color;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                h3 {
                    font-size: 1.8rem;
                    font-family: $main-font;
                    color: $primary-color;
                    text-transform: uppercase;
                    margin-right: 5px;
                }
                span {
                    display: block;
                    flex: 1;
                    height: 1px;
                    background-color: $primary-color;
                }
            }

            .group__conditions {
                padding-top: 30px;
                max-height: 500px;
                overflow-y: scroll;
                li {
                    padding: 6px 7px;
                    font-size: 1.4rem;
                    font-family: $sub-font;
                    color: $text-color;
                    transition: $transition-time;
                    font-weight: 500;
                    &:hover {
                        transform: translateX(5px);
                        i {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    i {
                        margin-right: 5px;
                        transition: $transition-time;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
                .group__input {
                    display: flex;
                    justify-content: space-between;
                   &__wraps {
                       width: 45%;
                    input {
                        width: 100%;
                        padding: 5px;
                        font-size: 1.4rem;
                        font-family: $sub-font;
                        color: $text-color;
                        border-radius: $border-radius;
                    }
                    label {
                        font-size: 1.4rem;
                        font-family: $sub-font;
                        color: $text-color
                    }
                   }
                }
                            }
        }
    }
    &__item {
        padding-bottom: 30px;
        &:hover {
            transition: $transition-time;
            transform: translateY(-5px);
        }

        @media (max-width: 575.98px) {
            width: 80%;
            max-width: $max-width-mobile;
            margin-left: auto;
            margin-right: auto;
        }

        &__top {
            width: 100%;
            height: 224.44px;
            border-radius: $border-radius;
            overflow: hidden;
            box-shadow: $box-shadow;
            position: relative;

            &:hover {
                .product__item__functions {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
            a {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                transition: $transition-time;
                img {
                    height: 100%;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__functions {
            position: absolute;
            top: 60%;
            z-index: 1;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            transform: translateY(50%);
            transition: $transition-time;
            opacity: 0;
            visibility: hidden;

            .funtion__item {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: $white-color;
                display: flex;
                margin: 13px;
                cursor: pointer;
                transition: $transition-time;
                border: 1px solid $white-color;
                box-shadow: $box-shadow;

                &:hover {
                    transform: translateY(-5px);
                    border-color: $primary-color;
                    i {
                        color: $primary-color;
                    }
                }

                i {
                    margin: auto;
                    font-size: 1.8rem;
                    transition: $transition-time;
                }
            }
        }

        &__bottom {
        }
        &__name {
            padding: 20px 0 10px;
            font-family: $main-font;
            font-size: 1.6rem;
            text-align: center;
            color: $text-color;
            margin-bottom: 5px;
        }

        &__link {
            transition: $transition-time;
            &:hover {
                color: $primary-color;
            }
        }

        &__price {
            p {
                text-align: center;
                font-family: $sub-font;
                color: $primary-color;
                margin-bottom: 10px;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
    &__form {
        width: 600px;
        max-width: 90%;
        margin: auto;
        font-family: $sub-font;
        &__group {
            margin-bottom: 15px;
            .btn {
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__control  {
            font-size: 1.6rem;
            margin: 10px 0;
            border-radius: $border-radius;
            padding: 10px;
        }
        &__label {
            font-size: 1.8rem;
        }
    }
}
