.checkout {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h3 {
            font-size: 1.8rem;
            font-family: $main-font;
            font-weight: 600x;
            color: $text-color;
            line-height: 2.4rem;
            text-transform: uppercase;
        }
        p {
            margin: 0;
            font-size: 1.5rem;
            font-family: $sub-font;
            color: $sub-text-color;
            cursor: pointer;
            transition: .3s;
            a {
                color: $primary-color;
            }
        }
    }
    &__cart {
        &__wraps,
        &__item {
            padding: 10px 0px 10px 0;
            border-bottom: 1px solid $sub-border-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__img {
            display: block;
            width: 68px;
            height: auto;
            border-radius: 5px;
            border: 1px solid $sub-border-color;
            position: relative;
            img {
                width: 100%;
            }
            span {
                position: absolute;
                top: -10px;
                right: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background-color: $text-color;
                color: $white-color;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 15px;
            a {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-family: $main-font;
                font-weight: 600;
                color: $text-color;
                text-decoration: none;
                transition: 0.3s;
                margin-bottom: 10px;
            }
            span {
                font-size: 1.2rem;
                font-family: $main-font;
                color: $sub-text-color;
            }
        }
        &__price {
            font-size: 1.6rem;
            font-weight: 700;
            color: $text-color;
            font-family: $sub-font;
        }
        &__table {
            padding-top: 12px;
            padding-bottom: 15px;
            border-bottom: 1px solid $sub-border-color;
            table {
                width: 100%;
                font-size: 1.5rem;
                font-weight: 300;
                font-family: $sub-font;
                line-height: 2.5rem;
            }
        }
        &__total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
            span {
                font-size: 1.5rem;
                font-family: $sub-font;
                font-weight: 300;
            }
            p {
                margin: 0;
                font-size: 2.2rem;
                font-weight: 600;
                color: $text-color;
                font-family: $main-font;
            }
        }
    }
}
