html {
    font-size: 62.5%;
}
body {
    color: $text-color;
}
* {
    box-sizing: border-box;
}
p {
    margin: 0;
}
a {
    color: $text-color;
    text-decoration: none;
}
.no-padding {
    padding: 0;
}
ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}