.contact {
    &__wraps {
    }

    &__container {
    }

    &__row {
    }

    &__left {
        padding-right: 15px;
    }

    &__title {
        h2 {
            font-family: $main-font;
            font-size: 2.8rem;
            color: $text-color;
            margin-bottom: 30px;
            font-weight: 700;
        }

        p {
            font-family: $sub-font;
            font-size: 1.8rem;
            color: $sub-text-color;
            margin-bottom: 42px;
        }
    }

    &__form {
        &__group {
            margin-bottom: 25px;
            textarea {
                min-height: 204px;
            }
        }
        &__control {
            padding: 16px 17px;
            font-size: 1.4rem;
            font-family: $sub-font;
            text-align: left;
            border-radius: $border-radius;
            background-color: $sub-background-color;
            border: none;
            outline: none;
        }
    }

    &__right {
        background-color: $primary-color;
        padding: 57px 41px;
        height: 100%;
        border-radius: $border-radius;
        h2 {
            color: $white-color;
        }
        &__group {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 30px;
            font-family: $sub-font;
            font-size: 1.6rem;
            color: $white-color;
            h4 {
                font-weight: 700;
                margin-bottom: 3px;
            }
        }
    }
}
