.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  
    &__item {
      margin-right: 5px;
    }
    &__button{
      display: flex;
      text-decoration: none;
      width: 38px;
      height: 38px;
      border: 1px solid $primary-color;
      background-color: $white-color;
      color: $primary-color;
      border-radius: 999px;
      font-weight: 700; 
      transition: $transition-time;

      &:hover,  &.active {
        background-color: $primary-color;
        color: $white-color;
      }
      span {
        margin: auto;
        font-size: 1.6rem
      }
    }
  }
  