.form__control--custom {
    padding: 10px 18px;
    font-size: 1.6rem;
    font-family: $sub-font;
    line-height: 2.6rem;
    outline: none;
    width: 100%;
    color: $text-color;
    border: 1px solid;
    border-color: $text-color;
    border-radius: $border-radius;
}

.form__group--custom {
    margin-bottom: 1rem;
}
.form__group--flex {
    display: flex;
    align-items: center;
}

.form__group--double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form__control--custom {
        width: 49%;
    }
}

.form__label {
    &--text {
        font-size: 1.5rem;
        font-family: $sub-font;
        font-weight: 400;
    }
    &--box {
        width: 18px;
        height: 18px;
        border: 1px solid #2c88d3;
        border-radius: 5px;
        display: flex;
        margin-right: 10px;
        transition: 0.3s;
        &.active {
            background-color: $primary-color;
            color: $white-color;
        }
        i {
            font-size: 1.2rem;
            margin: auto;
            color: $white-color;
        }
    }
}

.form__group--hiddend {
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: $transition-time;

    &.active {
    transition: $transition-time;

        transform: scaleY(1);
    }
}
