.cart {
    &__table {
        .table {
            th {
                font-weight: 700;
                @media(max-width: 767.98px) {
                    display: none;
                }
            }
            td {
                @media(max-width: 767.98px) {
                    display: flex;
                    justify-content: center;
                }
            }
            tr {
                @media(max-width: 767.98px) {
                    border: 2 px solid $primary-color;
                }
            }
            th,
            td {
                text-align: center;
                vertical-align: middle;
                padding: 25px;
                font-size: 1.5rem;
                font-family: $sub-font;
            }

            img {
                max-width: 80px;
                max-height: 80px;
            }
            &--modify {
                td {
                    text-align: left;
                    font-weight: 700
                }
            }
        }
    }

    &__remove {
        display: flex;
        border: 1px solid $primary-color;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-content: center;
        border-radius: 50%;
        transition: $transition-time;
        font-weight: 700;
        color: $primary-color;
        &:hover {
            color: $white-color;
            background-color: $primary-color;
        }
        i {
            transform: translateY(2px);
        }
    }
    &__group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;
        display: flex;
    }
    &__count {
        border: 1px solid $sub-text-color;
        border-radius: 5px;
        max-width: 65px;
        margin: 0 auto;
        outline: none;
        font-size: 1.6rem;
        font-family: $main-font;
        text-align: center;
    }
    &__button {
        border: 1px solid $sub-border-color;
        border-radius: 5px;
        max-width: 65px;
        margin: 0 auto;
        outline: none;
        font-size: 1.6rem;
        font-family: 'Rubik', sans-serif;
        text-align: center;
    }

    &__input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 1.4rem;
        padding: 10px 0;
    }

    &__submit {
        text-align: right !important    ;
    }
}
