.news {
    &__container {
        margin-bottom: 60px;
    }
    &__item {
        margin-bottom: 30px;
        &:hover {
            .news__item__top {
                box-shadow: $box-shadow;
                border-color: $white-color;
            }
            img {
                transform: scale(1.1);
            }
        }
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }
        &__wraps {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 767.98px) {
                width: 80%;
                max-width: $max-width-mobile;
                margin-left: auto;
                margin-right: auto;
            }
        }
        &__top {
            width: 100%;
            max-width: 410px;
            height: auto;
            padding: 2px;
            border-radius: $border-radius;
            position: relative;
            border: 1px solid $primary-color;
            transition: $transition-time;
            margin-bottom: 34px;

            @media (max-width: 767.98px) {
                max-width: unset;
            }
        }
        &__img {
            width: 100%;
            max-height: 202px;
            overflow: hidden;
            border-radius: $border-radius;
            @media (max-width: 767.98px) {
                max-height: 180px;
            }
            img {
                width: 100%;
                border-radius: $border-radius;
                transition: $transition-time;
            }
        }
        &__date {
            position: absolute;
            bottom: 0;
            width: 68px;
            height: 68px;
            background-color: $white-color;
            box-shadow: $box-shadow;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(100%) translateY(50%);
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateY(-50%) translateX(-50%);
                width: 50%;
                height: 1px;
                border-radius: 2px;
                background-color: $text-color;
            }

            p {
                font-size: 1.4rem;
                font-weight: 600;
                color: $text-color;
            }
        }
        &__day {
            padding-bottom: 5px;
        }
        &__mounth {
        }
        &__bottom {
            text-align: center;
            // text-transform: uppercase;
            font-size: 1.3rem;
        }
        &__sub-title {
            h3 {
                margin: 0;
                font-size: 1.3rem;
                font-family: $sub-font;
                font-weight: 700;
                color: $sub-text-color;
            }
        }
        &__title {
            h2 {
                padding-top: 10px;
                padding-bottom: 20px;
                margin-bottom: 15px;
                position: relative;
                @media(min-width: 768px) {
                    min-height: 84px;
                }
                @media (max-width: 767.98px) {
                    padding: 5px 0;
                    min-height: unset;

                }
                &::after {
                    content: '';
                    width: 50px;
                    height: 1px;
                    background-color: $primary-color;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                a {
                    font-size: 2.2rem;
                    font-family: $main-font;
                    text-transform: capitalize;
                    @media (max-width: 767.98px) {
                        font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (768 - 300)));
                    }
                }
            }
        }
        &__description {
            padding-top: 10px;
            @media (max-width: 767.98px) {
                padding-top: 0;
            }
            p {
                font-family: $sub-font;
                color: $sub-text-color;
                font-size: 1.6rem;
                font-weight: 400;
                text-align: center;
                display: block;
                display: -webkit-box;
                height: 7.2rem;
                line-height: 2.4rem;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__link {
            margin-top: 25px;
            @media (max-width: 767.98px) {
                margin-top: 10px;
            }
            a {
                margin-top: 25px;
                padding-bottom: 10px;
                font-family: $main-font;
                color: $text-color;
                font-size: 1.8rem;
                border-bottom: 2px solid $text-color;
                transition: 0.3s;
            }
        }
    }

    &__form {
        &__group {
            font-family: $sub-font;
            margin-bottom: 30px;
        }
        &__control {
            font-size: 1.6rem;
        }
        label {
            font-size: 1.8rem;
        }
        .ck-editor__editable {
            height: 600px;
            font-size: 1.6rem;
            padding: 15px;
        }
    }

    .post {
        &__title {
            margin-bottom: 20px;
            h2 {
                font-size: 2.2rem;
                font-family: $main-font;
                color: $text-color;
            }
        }

        &__info {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 15px;

            &__element {
                font-size: 1.3rem;
                font-family: $sub-font;
                i {
                    margin-right: 5px;
                }
                &:first-child {
                    margin-right: 20px;
                }
            }
        }

        &__content {
            border: 1px solid $sub-border-color;
            padding: 15px;
            border-radius: $border-radius;
            margin-bottom: 30px;
            &__text {
                font-size: 1.6rem;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &__img {
            margin-bottom: 21px;
            img {
                width: 100%;
                border-radius: $border-radius;
            }
        }

        &__paragraph {
            margin-bottom: 21px;

            p {
                font-size: 1.4rem;
                font-family: $sub-font;
                line-height: 2.2rem;
                color: $text-color;
            }
        }

        &__tags {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            i {
                margin-right: 5px;
            }
            p {
                font-size: 1.6rem;
                font-family: $sub-font;
                color: $text-color;
                margin-right: 10px;
            }
            &__list {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                li {
                    a {
                        margin: 0 5px;
                        font-size: 1.4rem;
                        font-family: $sub-font;
                        display: block;
                        padding: 4px 16px;
                        text-transform: uppercase;
                        border: 1px solid $primary-color;
                        border-radius: $border-radius;
                        color: $primary-color;
                        transition: $transition-time;
                        &:hover {
                            background-color: $primary-color;
                            color: $white-color;
                        }
                    }
                }
            }
        }

        &__relate {
            &__container {
                padding-top: 20px;
                margin-top: 20px;
                border-top: 1px solid $sub-border-color;
            }
            &__heading {
                margin-bottom: 30px;
                text-align: center;

                h3 {
                    font-size: 1.8rem;
                    font-family: $main-font;
                    color: $primary-color;
                    text-transform: uppercase;
                }
            }
            &__item {
                width: 100%;
                border: 1px solid $sub-border-color;
                margin-bottom: 10px;
                padding: 20px;
                border-radius: $border-radius;

                .relate__image {
                    display: block;
                    width: 100%;
                    height: 266px;
                    overflow: hidden;
                    border-radius: $border-radius;
                    img {
                        width: 100%;
                        height: 100%;
                        transition: $transition-time;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .relate__date {
                    min-width: 60px;
                    height: 80px;
                    display: flex;
                    flex-direction: column;
                    background-color: $primary-color;
                    border-radius: 5px;
                    color: $white-color;
                    justify-content: center;
                    align-items: center;
                    margin-right: 20px;
                    position: relative;
                    h4 {
                        font-size: 2.6rem;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        background: #fff;
                        width: 100%;
                        height: 1px;
                    }
                }

                .relate__container {
                    display: flex;
                    align-items: flex-start;
                    padding: 20px;
                }

                .relate__title {
                    font-size: 1.6rem;
                    font-family: $primary-color;
                }

                .relate__description {
                    font-size: 1.4rem;
                    color: $sub-text-color;
                }

                .relate__link {
                    a {
                        font-size: 1.3rem;
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &__sidebar {
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            h3 {
                font-family: $main-font;
                font-size: 1.8rem;
                color: $text-color;
            }
        }

        &__button {
            
            .sidebar__button {
                padding: 1px 6px;
                background-color: $white-color;
                border: none;
                outline: none;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                width: 27px;
                height: 27px;
                margin: 0 2.5px;
                color: $primary-color;
                transition: $transition-time;
                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                }
            }

        }

        &__slide {
            $slideItemMarginBottom : 24px;

            .sidebar__slide {
                padding: 18px 24px 0;
                    border: 1px solid $sub-border-color;
                    border-radius: $border-radius;
                &__wraps {
                    
                    
                }
                
                &__item {
                    width: 100%;
                    margin-bottom: calc($slideItemMarginBottom * 1.33);
                    border-bottom: 1px solid $sub-border-color;
                }

                .slide__item__wraps {
                    width: 100%;
                }

                .slide__item__img {

                    transition: $transition-time;
                    border-radius: $border-radius;
                    overflow: hidden;
                    display: block;
                    width: 100%;
                    margin-bottom: $slideItemMarginBottom;
                    &:hover {

                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        width: inherit;
                        height: auto;
                        max-height: 258px;
                        transition: inherit;
                    }

                }

                .slide__item__title {
                    margin-bottom: $slideItemMarginBottom;
                    display: block;
                    h5 {
                        font-size: 1.6rem;
                        color: $primary-color;
                        font-weight: 700;
                    }
                }

                .slide__item__description {
                    margin-bottom: calc($slideItemMarginBottom / 2);
                    p {
                        font-size: 1.6rem;
                        color: $sub-text-color;
                        font-family: $sub-font;
                    }
                }
                
                .slide__item__link {
                    font-size: 1.6rem;
                        color: $sub-text-color;
                        font-family: $sub-font;
                        a {
                            color: $primary-color;
                        }
                }

            }
        }
    }

    &__manage {

        &__user {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid $sub-border-color;
            .user__avata {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .user__name {
                margin-right: 15px;
            }
        }

        &__list {
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .news__item__link {
                display: flex;
                align-items: center;
            }
            .news__item__img {
                width: 200px;
                height: auto;
                margin-right: 30px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .news__item__title {
                
            }
            .news__item__actions {
                button ,span {
                        margin-left: 10px;
                    
                }
            }
        }
    }
}
