.btn {

    font-family: $sub-font;
    transition: $transition-time;
    border-radius: $border-radius;
    font-size: 1.6rem;
    font-weight: 500;

    &--primary {
        background-color: $primary-color;
        color: $white-color;
        text-transform: uppercase;
        
        border: 1px solid $primary-color;

        &:hover {
            color: $primary-color;
            background-color: $white-color;
        }

    }



    &--static {
        &:hover {
            color: $white-color;
            background-color: $primary-color;
        }
    }

    &--danger {
        background-color: $danger-color;
        color: $white-color;
        border-color: $danger-color;
        &:hover {
            color: $danger-color;
            background-color: $white-color;
        }
    }

    &--white {
        border: 2px solid;
        border-color: $primary-color;
        color: $primary-color;
        background-color: $white-color;
        font-weight: 700;
    }

    &--small {
        padding: 7px 17px;
        font-size: 1.4rem;
        // text-transform: capitalize;
    }

    &--large {
        padding: 14px 35px;
    }

    &--round {
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    
}
