.tippy {
    &__container {
        background-color: $white-color;
        padding: 20px;
        position: relative;
        font-size: 1.4rem;
        font-family: $sub-font;
        width: 100%;
        color: $sub-text-color;
    }
}