.header {
    .container {
        height: 100%;
    }
    &__logo__wraps {
        display: flex;
        align-items: center;
    }
    &__top {
        padding: 15px 0;
        // border-bottom: 1px solid $sub-border-color;
        // margin-bottom: 15px;
        @media (max-width: 767.98px) {
            margin-bottom: 0;
        }
        &__wraps {
            padding: 0;
        }
        p {
            font-size: 1.4rem;
            font-family: $sub-font;
            line-height: 2.4rem;
            color: $sub-text-color;
            height: 100%;
            display: flex;
            align-items: center;
        }
        
        a {
            color: $primary-color;
        }
    }

    &__midle {
        &__wraps {
            padding: 22px 0;
            width: 100%;
            border-radius: 999px;
            @media (max-width: 767.98px) {
                padding: 5px 0 15px;
            }
        }

        &__logo {
            width: 100%;
            img {
                height: 100%;
                max-height: 40px;
                // @media (min-width: 1400px) {
                //     min-width: 160px;
                // }
                // @media (max-width: 1200px) {
                //     width: 100%;
                //     height: auto;
                // }
            }
        }

        &__categories {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;

            .categories {
                width: 100%;
                max-width: 282px;

                @media (max-width: 991.98px) {
                    max-width: none;
                }

                &__wraps {
                    border-radius: $border-radius;
                    cursor: pointer;
                    background-color: $sub-background-color;
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: $text-color;
                    padding: 0 20px;
                    position: relative;
                    transition: $transition-time;
                    @media (max-width: 991.98px) {
                        border-radius: 999px;
                    }
                    &:hover {
                        box-shadow: rgba(9, 169, 243, 0.27) 0px 0px 0.25em, rgba(0, 183, 255, 0.425) 0px 0.25em 1em;

                        .categories__options {
                            opacity: 1;
                            visibility: visible;
                            transform: scaleY(1);
                        }
                    }
                }
                &__collapse {
                    height: 56px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width: 991.98px) {
                        height: auto;
                        padding: 5px 0;
                    }
                }
                &__options {
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    box-shadow: rgba(9, 169, 243, 0.27) 0px 0px 0.25em, rgba(0, 183, 255, 0.425) 0px 0.25em 1em;
                    background-color: $white-color;
                    left: 0;
                    border-radius: $border-radius;
                    opacity: 0;
                    visibility: hidden;
                    transform: scaleY(0);
                    transition: $transition-time;
                    transform-origin: 50% 0;
                    background-color: $white-color;
                    z-index: 1;
                    max-height: 400px;
                    overflow-y: scroll;
                }
                &__list {
                    padding: 5px 10px;
                }
                &__item {
                    padding: 10px;
                    border-radius: $border-radius;
                    transition: $transition-time;
                    &:hover {
                        background-color: $primary-color;
                        transform: translateX(-5px);
                        a {
                            color: $white-color;
                        }
                    }
                    a {
                        transition: $transition-time;
                        color: $primary-color;
                    }
                }
            }
        }
    }

    &__search {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;

        @media (max-width: 991.98px) {
            margin-top: 5px;
        }

        &__form {
            background-color: $sub-background-color;
            width: 100%;
            height: 70%;
            border-radius: 10 * $border-radius;
            overflow: hidden;
            padding: 0 10px;

            @media (max-width: 991.98px) {
                height: auto;
                padding: 0 10px;
                border-radius: 9999px;
                overflow: hidden;
            }

            form {
                display: flex;
                width: 100%;
                height: 100%;
                background-color: transparent;
                font-size: 1.4rem;
            }

            input {
                flex: 1;
                background-color: transparent;
                border: none;
                outline: none;
                color: $text-color;
                @media (max-width: 991.98px) {
                    padding: 5px 0;
                }
            }

            button {
                background-color: transparent;
                border: none;
                outline: none;
                color: $text-color;
                font-weight: 700;
            }
        }

        &__list {
            position: absolute;
            z-index: 1;
            width: 100%;
            left: 0;
            top: 101%;
            padding: 20px;
            max-height: 400px;
            overflow: auto;
            background-image: linear-gradient(90deg, $primary-color, transparent);
            border-radius: 5px;
            transform: scaleY(0);
            transition: $transition-time;
            transform-origin: 0 0;
            &.active {
                transform: scaleY(1);
            }
            a {
                display: flex;
                justify-content: space-between;

                color: $white-color;
                padding: 5px 10px;
                font-size: 1.6rem;
                margin-bottom: 5px;
                transition: $transition-time;
                border-radius: 10 * $border-radius;
                &:hover {
                    background-color: $white-color;
                    cursor: pointer;
                    color: $primary-color;
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        height: 60px;
        background-color: $primary-color;
        @media (max-width: 1399.98px) {
            height: auto;
        }
        @media (max-width: 767.98px) {
            position: relative;
        }
        &.active {
            transition: $transition-time;
            position: fixed;
            top: -60px;
            left: 0;
            width: 100%;
            z-index: 1000;
            box-shadow: $box-shadow;
            animation: fixed linear 1s forwards;
        }
        @keyframes fixed {
            0% {
                top: -60px;
            }
            100% {
                top: 0;
            }
        }
        &__menu {
            height: 100%;
            padding: 10px 0;
            transition: $transition-time;
            @media (max-width: 1399.98px) {
                height: auto;
            }
            @media (max-width: 767.98px) {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100vh;
                z-index: 2;
                transform: scaleY(0);
                transform-origin: 50% 0;
                transition: $transition-time;
                padding-top: 0;
                &.active {
                    transform: scaleY(1);
                }
              
            }
            nav {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .header__sub__inner {
                    max-height: 400px;
                    overflow: scroll;
                }
                ul {
                    width: 100%;
                    display: flex;

                    @media (max-width: 991.98px) {
                        justify-content: space-between;
                    }
                    @media (max-width: 767.98px) {
                        flex-direction: column;
                        background-color: $white-color;
                        height: 100%;
                        justify-content: flex-start;
                        padding: 10px 20px;

                    }
                    .header__bottom__wraps {
                        position: relative;
                        padding: 6px 16px;
                        color: $white-color;
                        transition: 2 * $transition-time;
                        margin-right: 5px;
                        border-radius: 2 * $border-radius;
                        border: 1px solid transparent;

                        @media (max-width: 1199.98px) {
                            padding: 4px 8px;
                        }
                        @media(max-width: 767.98px){
                            margin: 5px;
                        }
                        .item__dropn-down {
                            position: relative;

                            &::after {
                                content: '\f0dd';
                                font-size: 1.4rem;
                                font-family: 'Font Awesome 5 Pro';
                                position: absolute;
                                left: 105%;
                                top: 50%;
                                transform: translateY(-54%);
                                @media (max-width: 767.98px){
                                    right: -100%;
                                    left: unset;
                                }
                            }
                        }

                        &.active,
                        &:hover {
                            cursor: pointer;
                            border-color: $white-color;
                            box-shadow: rgba(#fff, 0.6) 0px 2px 8px 0px;
                            @media (max-width: 767.98px) {
                                border-color: $white-color;
                                background-color: $primary-color;
                                box-shadow: rgba(rgba($primary-color, 0.8), 0.6) 0px 2px 8px 0px; 

                                .header__bottom__link {
                                    color: $white-color
                                }
                            }
                            
                        }
                        &:hover {
                            .header__sub {
                                transform: scaleY(1);
                                opacity: 1;
                            }
                        }

                        .header__bottom__link {
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            transition: 2 * $transition-time;
                            color: $white-color;
                            font-weight: 600;
                            @media (max-width: 1399px) {
                                font-size: 1.2rem;
                            }
                            @media (max-width: 991.98px) {
                                font-size: 1.1rem;
                            }
                            @media (max-width: 767.98px) {
                                color: $primary-color;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
        &__container {
         
           
        }
        &__toggle-button {
            padding: 5px 0px;
            display: none;
            @media(max-width: 767.98px) {
                display: block;
            }
            button {
                outline: none;
                padding: 7px 10px 5px 10px ;
                background-color: transparent;
                border: 1px solid $white-color;
                border-radius: $border-radius;
                i {
                    font-size: 1.4rem;
                    color: $white-color;
                    margin: auto;
                    width: auto;
                    height: auto;
                }
            }
        }

    }

    &__sub {
        z-index: 1;
        position: absolute;
        top: 132%;
        background-color: $white-color;
        width: fit-content;
        left: 0;
        box-shadow: rgba($primary-color, 0.9) 0px 1px 4px;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        transition: $transition-time;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: 50% 0;
        @media(max-width: 767.98px) {
            width: 100%;
        }
        &__list {
            display: flex;
            flex-direction: column;
            width: fit-content;
            padding: 5px 20px 5px 10px;
        }
        &__item {
            padding: 0.25rem 1rem;
            white-space: nowrap;
            font-size: 1.4rem;
            font-weight: 400;
            font-family: $sub-font;
            text-transform: capitalize;
            line-height: 3.6rem;
            border-radius: $border-radius;
            transition: $transition-time;
            cursor: pointer;
            a {
                transition: $transition-time;
            }
            &:hover {
                box-shadow: rgba($primary-color, 0.8) 0px 1px 4px;
                transform: translateX(-5px);
                a {
                    // font-weight: 600;
                    color: $primary-color;
                }
            }
        }
    }
    &__auth {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
        &__link {
        }
        &__button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            color: $text-color;
        }
        &__item {

                &:first-child{
                   position: relative;
                    margin-right: 1px;
                   &::after {
                    content: '';
                    width: 1px ;
                    height: 50%;
                    position: absolute;
                    top: 0;
                    right: -1px;
                    transform: translateY(50%);
                    background-color: $primary-color;
                   }
                }
                
            .btn {
                background-color: transparent;
                font-size: 1.4rem;
                border-color: transparent;
                transition: $transition-time;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        &__user {
           
            .user {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &__group {
                    display: inherit;
                    margin-right: 10px;
                    align-items: inherit;
                    position: relative;
                    &:hover {
                        .user__dropdown {
                            transform: scale(1);
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &__icon, &__text {
                        font-size: 1.4rem;
                        font-family: $sub-font;
                        color: $sub-text-color
                    }
                    &__icon {
                        margin-right: 5px;
                    }

                    &__image {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-right: 5px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &__dropdown {
                    position: absolute;
                    right: 0;
                    top: 130%;
                    z-index: 1;
                    box-shadow: $box-shadow;
                    border-radius: $border-radius;
                    min-width: 200px;
                    transition: $transition-time;
                    transform: scale(0);
                    transform-origin:90% 0%;
                    &::after {
                        content: '';
                        position: absolute;
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid $white-color;
                        border-right: 20px solid transparent;
                        border-left: 20px solid transparent;
                        bottom: 100%;
                        right: 5%;

                    }
                }

                &__dropList {

                    &__item {
                        padding: 10px 0;
                        transition: $transition-time;
                        &:hover {
                            transform: translateX(5px);
                            a {
                                color: $text-color;
                                
                            }
                        }
                        a {
                            font-family: $sub-font;
                            font-size: 1.4rem;
                            color: $sub-text-color;
                          
                        }
                        
                    }
                }
            }
        }
    }

  
}
