.footer {
    &__container {
    }
    &__top {
        padding: 50px 46px;
        background-color: $primary-color;
        box-shadow: $box-shadow;

        @media (max-width: 991.98px) {
            padding: 20px 15px;
        }

        &__subscribe {
            display: flex;
            align-items: center;
            @media (max-width: 767.98px) {
                position: fixed;
                right: 2%;
                bottom: 15%;
            }
            .subscribe__title {
                margin-right: 37px;
                @media (max-width: 991.98px) {
                    margin-right: 5px;
                }
                @media (max-width: 767.98px) {
                    display: none;
                }
                h2 {
                    font-size: 2.8rem;
                    font-weight: 700;
                    color: $white-color;
                    text-transform: uppercase;
                    font-family: $main-font;

                    @media (max-width: 991.98px) {
                        font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (992 - 300)));
                    }
                }
            }
            .subscribe__list {
                ul {
                    display: flex;
                    @media (max-width: 767.98px) {
                        flex-direction: column;
                    }
                    li {
                        &:last-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .subscribe__link {
                width: 49px;
                height: 49px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 5px;
                transition: $transition-time;
                border: 1px solid $white-color;
                @media (max-width: 767.98px) {
                    margin: 5px 0;
                }
                i {
                    font-size: 1.4rem;
                    color: $white-color;
                }
                &:hover {
                    transform: translateY(-5px);
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba($white-color, 0.12) 0px -12px 30px,
                        rgba($white-color, 0.12) 0px 4px 6px, rgba($white-color, 0.17) 0px 12px 13px,
                        rgba($white-color, 0.09) 0px -3px 5px;
                }
                &--facebook {
                    background-color: $facebook-color;

                    &:hover {
                        padding: 2px;
                        border-color: $facebook-color;
                        background-color: $white-color;
                        cursor: pointer;
                        i {
                            color: $facebook-color;
                        }
                    }
                }
                &--google {
                    background-color: $google-color;

                    &:hover {
                        padding: 2px;
                        border-color: $google-color;
                        background-color: $white-color;
                        cursor: pointer;
                        i {
                            color: $google-color;
                        }
                    }
                }
                &--twitter {
                    background-color: $twitter-color;

                    &:hover {
                        padding: 2px;
                        border-color: $twitter-color;
                        background-color: $white-color;
                        cursor: pointer;
                        i {
                            color: $twitter-color;
                        }
                    }
                }
                &--instagram {
                    background-color: $instagram-color;

                    &:hover {
                        padding: 2px;
                        border-color: $instagram-color;
                        background-color: $white-color;
                        cursor: pointer;
                        i {
                            color: $instagram-color;
                        }
                    }
                }
            }
        }
        &__form {
            .form__content {
                form {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
                &__input {
                    flex: 1;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba($white-color, 0.12) 0px -12px 30px,
                        rgba($white-color, 0.12) 0px 4px 6px, rgba($white-color, 0.17) 0px 12px 13px,
                        rgba($white-color, 0.09) 0px -3px 5px;
                    width: 100%;
                    max-width: 459px;
                    margin-right: 10px;

                    input {
                        padding: 14px 35px;
                        background-color: $white-color;
                        font-family: $sub-font;
                        font-size: 1.4rem;
                        outline: none;
                        margin-right: 10px;
                        border: none;
                        max-height: 50px;
                        font-weight: 500;
                        border-radius: $border-radius;
                    }
                }

                &__submit {
                    button {
                        background-color: $facebook-color;
                        padding: 15px 35px;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: $white-color;
                        outline: none;
                        border: none;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba($white-color, 0.12) 0px -12px 30px,
                            rgba($white-color, 0.12) 0px 4px 6px, rgba($white-color, 0.17) 0px 12px 13px,
                            rgba($white-color, 0.09) 0px -3px 5px;
                        border-radius: $border-radius;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    &__mid {
        width: 100%;
        background: $white-color;
        padding: 30px 0;
        font-family: $sub-font;
        color: $sub-text-color;

        @media (max-width: 767.98px) {
            padding: 30px 0;
        }

        &__logo {
            margin-bottom: 36px;

            img {
                max-width: 200px;
            }
        }

        &__text {
            .text__group {
                font-size: 1.5rem;
                margin-bottom: 10px;
                max-width: 315px;
                text-align: justify;
                @media (max-width: 991.98px) {
                    max-width: unset;
                }
                &__phone {
                    color: $primary-color;
                    font-weight: 700;
                }
            }
        }

        .mid__title {
            h3 {
                font-weight: 800;
                font-family: $main-font;
                font-size: 1.8rem;
                color: $text-color;
                margin: 53px 0 34px;
                text-align: left;
                @media (max-width: 991.98px) {
                    margin: 15px 0;
                }
            }
        }

        &__categories {
            width: 100%;
            margin-left: 82px;
            height: auto;
            @media (max-width: 991.98px) {
                margin-left: 0;
            }

            .mid__categories__list {
                ul {
                    max-width: 203px;
                    width: 100%;
                    height: 186px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    @media (max-width: 991.98px) {
                        height: auto;
                    }
                }
            }
            .mid__categories__item {
                text-decoration: none;
                font-family: $sub-font;
                width: 100%;
                margin-bottom: 5px;
                transition: 0.3s;
                transition: $transition-time;
                a {
                    color: $sub-text-color;
                    align-items: center;
                    font-size: 1.6rem;
                    display: flex;
                    font-weight: 500;
                    transform: translateX(5px);
                }
                &:hover {
                    cursor: pointer;
                    transform: translateX(5px);
                    font-weight: 600;
                    a {
                        color: $primary-color;
                    }
                }
                i {
                    margin-right: 5px;
                }
            }
        }
    }
    &__bottom {
        padding: 24px 0;
        background-color: $primary-color;
        @media (max-width: 991.98px) {
            padding: 10px 0;
        }
        &__left {
            color: $white-color;
            font-family: $main-font;
            font-size: 1.4rem;
            line-height: 2.8rem;
            text-transform: uppercase;
            @media (max-width: 991.98px) {
                text-align: center;
            }
            p {
                i {
                    margin-right: 10px;
                }
            }
        }

        &__right {
            text-align: right;
            @media (max-width: 991.98px) {
                text-align: center;
            }
        }
    }
}
