.breadcrumb {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: left !important;
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    margin-bottom: 63px;
    
    @media(max-width: 1199.98px) {
        height: auto;
        padding: 30px 0;
    }

    &__title {
        h1 {
            font-family: $main-font;
            font-size: 4.6rem;
            color: $text-color;
            font-weight: 600;
            line-height: 5.6rem;
            margin-bottom: 20px;
            @media(max-width: 1400px ) {
                font-size: calc(20px + (46 - 20) * ((100vw - 300px) / (1400 - 300)));
                line-height: calc(20px + (46 - 20) * ((100vw - 300px) / (1400 - 300)) * 1.5);
            }
        }
    }
    &__description {
        font-family: $sub-font;
        font-size: 1.8rem;
        line-height: 3.6rem;
        font-style: italic;
        font-weight: 400;
        a, span {
            color: $primary-color;
        }
    }
}