$primary-color : #4c7696;
$sub-primary-color: rgba($primary-color, 0.5);
$sub-whitle: rgba(#fff, 0.6);
$white-color: #fff;
$danger-color: #b02a37;
$black-color: #000;
$text-color: #424242;
$sub-text-color: #999;
$border-radius: 5px;
$main-font: Oswald, sans-serif;
$sub-font: Roboto, sans-serif;
$sub-border-color: #eee;
$sub-background-color: #eee;
$transition-time: 0.3s;
$box-shadow: rgba($primary-color, 0.8) 0px 4px 12px;
$star-color: #ff9600;
$facebook-color: #365493;
$google-color: #cd201f;
$twitter-color: #55acee;
$instagram-color: #e4405f;
$max-width-mobile: 480px;
$light-background-color: #f9faff;