.about {
    p {
        font-size: 1.6rem;
        font-family: $sub-font;
        color: $sub-text-color;
    }
    &__container {
    }
    &__story {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__img {
            width: 49%;
            height: auto;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid $sub-border-color;
            margin-bottom: 14px;
            .story__img__item {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .story__content {
            h2 {
                font-family: $main-font;
                font-size: 2.6rem;
                color: $primary-color;
                line-height: 2.4rem;
                font-weight: 700;
                margin-bottom: 28px;
            }
            p {
                margin-bottom: 38px;
            }
        }
        .story__services {
            &__item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 20px;
                p {
                    margin: 0;
                }
                i {
                    color: $primary-color;
                    margin-right: 10px;
                }
            }
        }
    }
    &__partner {
        background-color: $light-background-color;
        &__left {
            margin-top: 64px;
            width: 100%;
            height: auto;
        }

        &__paragraph {
            p {
                margin-bottom: 66px;
            }
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 38px;
        h2 {
            font-size: 2.6rem;
            margin: 0 0 5px;
            color: $primary-color;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $main-font;
        }
    }
    &__activities {
        &__img {
            width: 100%;
            height: 275px;
            display: flex;
            margin-bottom: 18px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
