#body {
    .body {
    }
    .go-to-top {
        right: 2%;
        bottom: 5%;
        width: 46px;
        height: 46px;
        z-index: 1000;
        display: flex;
        position: fixed;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: $transition-time;
        background-color: $white-color;
        border: 1px solid $primary-color;

        &:hover {
            cursor: pointer;
            border-color: $white-color;
            background-color: $primary-color;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba($white-color, 0.12) 0px -12px 30px,
                rgba($white-color, 0.12) 0px 4px 6px, rgba($white-color, 0.17) 0px 12px 13px,
                rgba($white-color, 0.09) 0px -3px 5px;
            transform: translateY(-5px);
            i {
                color: $white-color;
            }
        }
        i {
            margin: auto;
            font-size: 2rem;
            transition: 0.3s;
            color: $primary-color;
            transition: $transition-time;
        }
    }
}

@import './landingSlick.scss';
@import './panel.scss';
@import './categories.scss';
@import './landingServices.scss';
@import './landingTrend.scss';
@import './landingRating.scss';
@import './landingPartner.scss';
