.landing-categories {

    &__item {
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;
        padding: 3px;
        border: 1px solid $primary-color;
        position: relative;
        transition: $transition-time;
        box-shadow: rgba($primary-color, 0.8) 0px 4px 12px;
        margin-bottom: 1rem;

        &:hover {
            cursor: pointer;
            border-color: transparent;
            img {
                transform: scale(1.1);
            }
        }

        @media(max-width: 575.98px ){
            width: 80%;
            max-width: $max-width-mobile;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__image {
        border-radius: $border-radius;
        overflow: hidden;
        width: 100%;
        max-height: 234px;

        img {
            width: 100%;
            transition: $transition-time;
            max-height: 100%;
        }

    }
    &__title {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white-color, 0.3);
        padding-left: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 991.98px ){
            padding-left: 30px;
        }
        @media(max-width: 767.98px ){
            padding-left: 10px;
        }
        @media(max-width: 575.98px ){
            padding-left: 30px;
        }
        h3 {
            font-size: 2.6rem;
            color: $text-color;
            font-family: $main-font;
            @media(max-width: 767.98px) {
                font-size: calc(14px + (26 - 16) * ((100vw - 300px) / (768 - 300)));
            }
        }
        a {
            font-size: 1.5rem;
            font-family: $sub-font;
            display: block;
            padding-bottom: 5px;
            text-decoration: none;
            color: $primary-color;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 15%;
                height: 1px;
                background-color: #2c88d3;
                top: 100%;
                left: 0;
            }
        }
    }
}

