.landing-services {
    &__item {
        border: 1px solid $sub-border-color;
        padding: 30px 23px;
        width: 100%;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        height: 115px;
        @media(max-width: 1199.98px ){
            padding: 15px 10px;
        }
        @media(max-width:991.98px) {
            margin-bottom: 15px;
        }
        @media(max-width: 575.98px) {
            width: 80%;
            max-width: $max-width-mobile;
            margin-left: auto;
            margin-right: auto;;
        }
    }
    &__wraps {
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 1199.98px ){
            height: 100%;
            
        }
    }
    &__image {
        img {
            width: 55px;
            margin-right: 20px;
        }
    }
    
    &__text {
       
        h3 {
            font-size: 1.6rem;
            font-family: $main-font;
            font-weight: 600;
            color: $text-color;
            line-height: 2.4rem;
            margin: 0;
            @media(max-width: 1199.98px ){
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 1.6rem;
            color: $sub-text-color;
            margin: 0;
            font-family: $sub-font;
            @media(max-width: 1199.98px ){
                font-size: 1.4rem;
            }
        }
    }
}