.landing-trend {
    &__navs {
        &__list {
            display: flex;
            justify-content: center;
            border: none;
            margin-bottom: 30px;
        }
        &__item {
            margin: 0 5px 10px;
        }
        &__link {
            border: 1px solid $primary-color !important;
            margin: 0px 5px 10px;
            padding: 12px 25px;
            background-color: $white-color;
            font-family: $main-font;
            color: $primary-color;
            font-size: 1.4rem;
            text-transform: uppercase;
            transition: $transition-time;
            border-radius: $border-radius !important;
            outline: none;
            &:hover,&.active {
                background-color: $primary-color !important;
                color: $white-color !important;
                box-shadow: $box-shadow;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}
