.landing-rating {
    margin-bottom: 30px;
    &__wraps {
        
        .slick-dots {
            li {
                background-color: $white-color;
                width: 10px;
                height: 10px;
                border: 1px solid $primary-color ;
                border-radius: 50px;
                &.slick-active {
                    background-color: $primary-color;
                }
                button {
                    opacity: 0;
                }
            }
        }
    }
    &__container {
        display: flex;
        justify-content: center;
    }
    &__item {
        max-width: 390px;
        @media(max-width: 1399.98px){
            max-width: unset;
            padding: 0 10px;
        }
    }
    &__inner {
        width: 410px;
         @media(max-width: 1399.98px) {
         width: 100%;
        }
    }
    &__content {
        padding: 30px 30px 70px;
        border-radius: $border-radius;
        border: 2px solid $sub-primary-color;
        display: flex;
        flex-direction: column;
        width: 100%;
     
        height: 314px;
        position: relative;
        margin-bottom: 60px;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        width: 68px;
        height: 68px;
        border-radius: 50%;
        border: 2px solid $sub-primary-color;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__stars {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        li {
            margin-right: 5px;
            i {
               color: $star-color;
               font-size: 1.3rem;
               font-weight: 900;
            }
        }
    }
    &__paragraph {
        font-size: 1.3rem;
        font-weight: 400;
        font-family: $sub-font;
        text-align: center;
        color: $text-color;
        user-select: none;
    }

    &__text {
          text-align: center;
          h3 {
            margin-bottom: 8px;
            line-height: 1.2rem;
            font-size: 1.2rem;
            font-family: $main-font;
            color: $text-color;
            text-transform: uppercase;
            letter-spacing: .1em;
          }
          p {
            font-size: 1.3rem;
            font-family: $sub-font;
            color: $sub-text-color;
          }
    }
}