.landing-partner {
    &__item {
        height: 70px;
    }
    &__link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            img {
                max-width: 91px ;
                max-height: 100%;
                margin: auto;
            }
        }
    }
}