.landing-page {
    .landing-slick {
        position: relative;
        padding-bottom: 30px;

        &__button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 42px;
            height: 42px;
            border: 2px solid $primary-color;
            border-radius: 50%;
            display: flex;
            transition: $transition-time;
            z-index: 1;
            &:hover {
                cursor: pointer;
                box-shadow: rgba($white-color, 0.35) 0px 5px 15px;
                border-color: $white-color;
                i {
                    color: $white-color;
                }
            }
            &--right {
                right: 50px;
            }
            &--left {
                left: 50px;
            }
            
            i {
                margin: auto;
                font-weight: 700;
                color: $primary-color;
                transition: $transition-time;

            }
        }

        &__box {
            position: relative;
            width: 100%;
            height: 100%;
        }

        &__box {
            height: 70vh;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @media(max-width: 991.98px){
                height: 50vh;
            }
        }

        &__banner {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $sub-primary-color;
            display: flex;
            color: $white-color;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            h1 {
                font-family: $main-font;
                font-weight: 600;
                font-size: 3rem;
                margin: 0 15px 0 0 ;
                user-select: none;
                @media(max-width: 1400px ) {
                    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1400 - 300)));
                }
            }
        }

        &__link {
            user-select: none;
            padding: 5px 15px;
            font-family: $sub-font;
            color: $white-color;
            background-color: $primary-color;
            font-size: 1.3rem;
            border-radius: 50px;
            transition: $transition-time;
            border: 1px solid transparent;
            &:hover {
                box-shadow: rgba(#fff, 0.2) 0px 8px 24px;
                border-color: $white-color;
            }
        }
    }
}