.panel {
    &__wraps {
        padding:  30px 0;
    }
    &__title {
        text-align: center;
        font-size: 1.8rem;    
        line-height: 2.4rem;
        text-transform: uppercase;
        text-align: center;
        color: $text-color;
        font-family: $main-font;
        text-transform: uppercase;
        margin-bottom: 30px;
        @media(max-width: 767.98px){
            font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1200 - 300)));
        }
    }
}